@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f8f9fd;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}
.container{
  border-radius: 5px;
  border: 2px solid #a7a7a7;
  margin-top: 0px;
}

.title {
  margin: 0;
}
.header {
  background-color: rgb(6, 136, 187);
  color: #fff;
  padding: 30px 20px;
  text-align: center;
}

.user-list {
  background-color: #fff;
  list-style-type: none;
  margin: 10px;
  padding: 0;
  max-height: 100vh;
  overflow-y: auto;
}
.user-list li{
  width: 30%;
  height: 700px;
  float: left;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px;
}
.image{
  text-align: center;
}
.user-list img {
  width: 300px;
  max-height: 350px;
}

.user-list .user-info h4 {
  margin: 0 0 10px;
}

.user-info .btn{
  width: 30%;
  background-color: rgb(6, 136, 187);
  color: #fff;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 1220px){
  .user-list li{
    width: 45%;
  }
}

@media only screen and (max-width: 823px){
  .user-list li{
    width: 100%;
    margin:5px;
  }
}
